.reagent_table, td, tr {
    border: 1px solid black;
    font-size: medium;
}

.reagent_table td {
    width: 70px;
    text-align: center;
}

.reagent_table tr {
    border: 0px;
}

.new_reagent {
    width: 100px;
    height: 30px;
    background: #9ecf14;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    padding-top: 5px;
    font-size: large;
    text-align: center;
}